/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 8, 2015, 12:46:48 PM
    Author     : frisca
*/

.body{
    background: grey;
}

.tulisan{
    color:#0000FF	
}